{% extends 'petsy/base.html' %}
{% block content %}

<main role="main">
    <div class = "center margin-1"> <h4> Si está hecho a mano o es vintage, personalizado o único, está en Petsy.</h4></div>
  <section class="jumbotron text-left image_background">
    <div class="container">
      <h2 class="jumbotron-heading">Las joyas personalizadas brillan más</h2>

        <a href="#" class="btn btn-transparent">Ver joyeria personalizada ></a>
      </p>
    </div>
  </section>

  <div class="album">
    <div class="container">
      <div class="row center">

        <div class="col-md-4">
          <div class="card">
            <div class="card-body ">
                <dl>
              <dt><i class="fa fa-check" aria-hidden="true" style="color:orange "></i>
                Artículos únicos.</dt>
              <dd>Tenemos millones de artículos totalmente únicos. Solo tienes que encontrar lo que sea que busques
                  (o ese producto que tanto te ha enamorado).</dd>
            </dl>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card">
            <div class="card-body">
               <dl>
              <dt><i class="fa fa-check" aria-hidden="true" style="color:orange "></i> &nbsp;Vendedores independientes</dt>
              <dd>Compra directamente a artesanos que ponen toda su alma en cada producto para hacer algo especial. </dd>
            </dl>
            </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card">
            <div class="card-body">
             <dl>
              <dt><i class="fa fa-check" aria-hidden="true" style="color:orange "></i> &nbsp;Compras seguras</dt>
              <dd>Usamos la mejor tecnología de su clase para proteger tus transacciones.</dd>
            </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <section class="jumbotron text-center background_color">
    <div class="container center">
      <h1 class="jumbotron-heading">¿Qué es Petsy?</h1>
      <p class="lead text-muted">Lee nuestra maravillosamente excepcional historia </p>

        <div class = "row">
           <div class="col-md-4">
                <dl>
                  <dt>Una comunidad única en su especie</dt>
                  <dd>Petsy es un mercado internacional en línea al que acuden personas de todo el mundo para hacer, vender, comprar y coleccionar productos únicos. </dd>
                </dl>
          </div>
          <div class="col-md-4">
             <dl>
                  <dt>Apoya a creadores independientes</dt>
                  <dd>Petsy no tiene almacenes, solo millones de personas vendiendo productos que adoran. Nosotros facilitamos todo el proceso y te ayudamos a conectar directamente con creadores para que encuentres productos extraordinarios. </dd>
                </dl>
          </div>
       <div class="col-md-4">
          <dl>
              <dt>Tranquilidad absoluta</dt>
              <dd>Tu privacidad es la principal prioridad de nuestro equipo dedicado. Estamos listos para entrar en acción si necesitas ayuda. </dd>
            </dl>
       </div>
          <p class = "margin-auto">
        <a href="#" class="btn btn-transparent">Ir al centro de ayuda</a>
      </p>
    </div>
    </div>
  </section>

</main>
{% endblock %}