{% extends 'petsy/base.html' %}
{% load static %}

{% block links %}
        <link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
        <link href="{% static 'themes/explorer/theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/profile.css'%}" rel="stylesheet">
{%  endblock %}
{% block scripts %}
   <script src="{% static 'js/follow.js' %}"></script>
{%  endblock %}
{% block content %}

<main>
    <section>
        <div class="jumbotron" style="background-image: url('{% static 'images/sorajuan.jpeg' %}'); background-size: contain ">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">{{ shop.shop_name }}</h1>
              <p class="lead my-3">Descripcion</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <p class="title-propietari">PROPIETARIO DE LA TIENDA</p>
                    <i class="far fa-user-circle fa-3x"></i>
                    <a class="name-propietari" href="{% url 'profile' shop.user_owner.id_user %}">{{ shop.user_owner.username }}</a>
                </div>

                <div class="col-10" style="text-align: end;">
                    {% if request.user.is_authenticated %}
                            {% if request.user.id != shop.user_owner.id %}
                                {% if not favorited %}
                                    <button type="button" class="btn btn-background" id="favorite_shop" onclick="favorited('{{ shop.id_shop }}','{{ csrf_token }}', this)">Añadir a favoritos</button>
                                {% else %}
                                    <button type="button" class="btn btn-background" id="favorite_shop" onclick="favorited('{{ shop.id_shop }}','{{ csrf_token }}', this)">Quitar de favoritos</button>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container articles">
            <div class="row">
                <div class="col-12">
                    <p>ARTÍCULOS</p>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-2">
                        <ul class="list-group">
                            {% for category in categories %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>{{ categroy.name }}</a>
                                <span class="badge badge-primary badge-pill">{{ category.num }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>-->
                    <div class="col-md-10">
                        <div class="container margin-div">
                            {% for product in list_products %}
                                {% if forloop.counter0 == 0 or forloop.counter0|divisibleby:4 %}
                                    <div class="row">
                                        <div class="card-deck">
                                            <div class="card">
                                                <img class="card-img-top img-card" src="{{product.img.url}}" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">{{ product.nameProduct }}</h5>
                                                    <p class="card-text">{{ product.description }}</p>
                                                    <a href="{% url 'product_by_id' product.idProduct %}" class="card-text stretched-link"></a>
                                                </div>
                                            </div>

                                {% elif forloop.counter0|divisibleby:3 or forloop.last %}
                                            <div class="card">
                                                <img class="card-img-top img-card" src="{{product.img.url}}" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">{{ product.nameProduct }}</h5>
                                                    <p class="card-text">{{ product.description }}</p>
                                                    <a href="{% url 'product_by_id' product.idProduct %}" class="card-text stretched-link"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                            <div class="card">
                                                <img class="card-img-top img-card" src="{{product.img.url}}" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">{{ product.nameProduct }}</h5>
                                                    <p class="card-text">{{ product.description }}</p>
                                                    <a href="{% url 'product_by_id' product.idProduct %}" class="card-text stretched-link"></a>
                                                </div>
                                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>

            </div>
        </div>

    </section>
</main>
{% endblock %}
